/*@import url("../../../css/_base.css");
@import url("../../../css/_extra.css");
@import url("../../../css/_calendar.css");
*/
html {
  height: 100%;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#000;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:0px;
  background-color: #e6e6e6; /* */
  font-size: 87.0%;
}

small {
  font-size: 12px;
}

ul {
  margin:0; padding:0;
  /* padding:0.5em 0.5em 0.5em 1.8em; */
  padding-left: 1.6em;
}
/*
	사용자 정보 표시를 위한 스타일 시작
*/
#p-personal
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	
	display: inline-block;
	text-align:center;
	z-index: 999;
	
}
#p-personal-align-center
{
	max-width:1016px;
	overflow:hidden;
	margin:auto;
	
}
#p-personal h3
{
	display: block;
	float: left;
	text-shadow: 1px 1px 1px #C3C3C3;
	display:none;
}
#p-personal ul
{
	list-style: outside none none;
	float: right;
	background-color: rgb(245, 245, 245);
}
#p-personal ul li
{
	float:left;
}
#p-personal ul li a
{
	display:inline-block;
	line-height:24px;
	padding:6px;
	text-decoration:none;
}
#p-personal ul li a:hover
{
	background-color:#CCC;
}
/*
	사용자 정보 표시를 위한 스타일 끝
*/
#mainBody {
  margin: 3em auto 1.4em auto;
  padding: 0 2em;
  min-height:400px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  border-radius: 0.3em;
  max-width: 960px;
  height: auto !important; /* IE min-height hack */
  background-color:#ffffff;
  padding-bottom: 2em;
  line-height: 160%;
}

div {
/* border:1px solid red; /* */
}

#topHeader {
  padding-left:15px;
  padding-top:2px;
  color:white;
  font-family:Tahoma,Verdana,sans-serif;
  font-size:11px;
  font-weight:bold;
}

#topHeader a{
  color:white;
  text-decoration:none;
}

#topBanner {
  height:48px;
  font-size:40px;
  font-family:Tahoma,sans-serif;
  color:white;
  padding-left:8px;
  padding-top:10px;
  padding-bottom:0px;
  margin:0px;
  overflow-y:hidden;
  /* overflow:hidden; does not work correctly in the mozilla */
}

#pTopLeft {
  background: url("../imgs/ntl.png") no-repeat;
  z-index:4;
}

#pTopRight {
  background: url("../imgs/ntr.png") no-repeat right top;
  z-index:4;
}

#pBanSpace {
  height:3px;
}

#pBanner {
  height:50px;
  padding:0px;
  font-size:36px;
  text-align:center;
  font-family:Trebuchet MS,Tahoma,Lucida,sans-serif;
  margin:0;
  line-height:20%;
}

#pBanner p {
  padding:0;
  margin:0;
  font-size:12px;
}

#pBanner img {
  vertical-align:middle;
}

#pBanLeft {
  padding:0;
  margin:0;
}

#pBanRight {
  padding:0;
  margin:0;
}

#pTitle {
  padding:0px;
  _height:0px;
}

#pTitle img {
  vertical-align:middle;
}

#wikiSplash {
  height:80px;
  background: url("../imgs/favorite.png") repeat-x;
  padding:0;
  margin:0;
  margin-left:20px;
  margin-right:22px;
}

#goFormUpper {
  float:right;
  padding: 3px 6px;
}

form {
  margin-bottom:0px; /* IE hack */
}

#wikiPage, #wikiHeadPage {
  margin-left:13px;
  margin-right:15px;
}

#wikiHeadPage {
  padding-top:10px;
}

#wikiPage {
  padding-top:5px;
  min-height:400px;
  height: 100% !important; /* IE min-height hack */
  height:100%;
  padding-bottom:10px;
}

#wikiBanner {
  padding:5px 0;
  text-align:center;
  font-family: "Trebuchet MS",Georgia,sans-serif;
}

a:link { color: #404040; }
a:visited { color: #000000;}
a.current { text-decoration: none; font-weight: bold; }
/* a:hover {background-color:#999966;color:white} /* */
.wikiTitle {
  padding-left:10px;
  padding-top:0.2em;
  font-family:Trebuchet MS,Tahoma,Lucida,sans-serif;
  font-size:1.3em;
  font-weight:bold;
  text-decoration: none;
}

.wikiTitle a,.wikiTitle a:active,.wikiTitle a:visited {
  color: #333333;
  text-shadow: #c3c3c3 1px 1px 1px;
}

.wikiTitle a:hover {
  color: #0686db;
  text-decoration: underline;
}

#wikiTitle {
  padding-top:5px;
  padding-left:0px;
  padding-right:5px;
  margin-right: -1px;
  margin-left:1px;
  _margin-right: 0;
}

.last-modified {
  padding-left: 20px;
  margin-bottom: 3px;
  font-size: 12px;
}

tt.wiki {font-family:Monotype,Lucida Console,lucida,monospace;font-size:1em;}
tt.wiki {
  box-shadow: inset 0 0 .3em #f0f0f0;
  background-color: #fbfaf9;
  padding: 0.15em 0.5em;
  border-radius: 2px;
  /* border: solid 1px #ddd; /* */
}

tt.foot {
  font-family:Tahoma,lucida,monospace;
  font-size:11px;
  vertical-align: super;
  line-height: 1em; /* Reduce line-height for <sup> and <sub> */
}

/* from mediawiki */
sup, sub {
  line-height: 1em; /* Reduce line-height for <sup> and <sub> */
}

tt.sister {
  font-family:Tahoma,lucida,monospace;
  font-size:11px;
  vertical-align: super;
  text-decoration: none;
}

pre {
  white-space:pre-wrap;
  white-space: -moz-pre-wrap;
  overflow: auto;
}

pre.wiki {
  /*
  padding-left:6px;
  padding-top:6px;
  font-family:"Bitstream Vera Sans Mono", Courier, GulimChe, monospace !important;
  background-color:#000000;
  color:#c0c0c0;
  border:1px solid #ececec;
  border-left:10px solid #ececec;
  */
  font-family:"Bitstream Vera Sans Mono", Courier, GulimChe, monospace !important;
  background-color:#f5f5f5;
  color:#0a0a0a;
  border:1px solid rgba(0,0,0,.15);
  border-radius: 3px;
  -webkit-box-shadow: rgba(200,200,200,0.7) 0 3px 10px -1px;
  box-shadow: rgba(200,200,200,0.7) 0 3px 5px -1px;

  padding:10px;
  white-space:pre;
  white-space: -moz-pre-wrap;
  overflow-x: auto;

  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  
}

pre.console {
  background-color: #000000;
  color: #E0E0E0;
  padding: .25em ;
  border: 2px inset #808080;
}

pre.quote {
  padding-left:6px;
  padding-top:6px;
  white-space:pre-wrap;
  white-space: -moz-pre-wrap; 
  padding:10px;
  white-space:pre;
  white-space: -moz-pre-wrap;
  overflow-x: auto;
}

pre.console {
  background-color: #000000;
  color: #E0E0E0;
  padding: .25em ;
  border: 2px inset #808080;
}

pre.quote {
  padding-left:6px;
  padding-top:6px;
  white-space:pre-wrap;
  white-space: -moz-pre-wrap; 
  font-family:Georgia,monotype,lucida,monospace;font-size:14px;
  background-color: #E9ECEF;
}

.wikiSyntax {
  /*
  border:1px solid #ECECEC;
  border-left:10px solid #ECECEC;
  padding: 10px 0;
  background-color:#eeeeee;
  */
  color:#0a0a0a;
  border:1px solid #a0a0a0;
  border-radius: 3px;
  border-left:10px soddlid #ececec;
  -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

.line.alt {
  background-color:#272727;
}

.line {
  padding-left:10px;
}

table.wiki {
  overflow-x: auto;
  border-collapse: collapse;
/* background-color:#E2ECE5;
  background-color: #F8F7F0;
  border: 0px outset #ddddb0; */
}

table.wiki tr {
/* background-color: #F8F8F8; */
/* border-collapse: collapse; */
/* border: 0px inset #EAF2F4; */
}

table.wiki td, table.wiki th {
  border: 1px solid #969696;
  padding:5px;
}

textarea.wiki { width:98%; }
textarea.wiki {
  border: 1px solid #d0d0d0;
}

td.info, th.info {
  background:#E2E2E2 url("../imgs/infotrbg.png") repeat-x;
}

#wikiContent h1, #wikiContent h2 {
  /* color: #0066cc; /* */
  font-family:sans-serif;
  padding-left:2px;
  border-bottom:1px solid #dddddd; /* */
  padding-bottom:0.2em;
  margin-left:-5px;
  padding-left: 5px;
  /* border-left:3px solid #dddddd; /* */
}

#wikiContent h3, h4, h5 {
  font-family:Arial,sans-serif;
}

#wikiContent h1 { font-size:22px; }
#wikiContent h2 { font-size:1.4em; }
#wikiContent h3 { font-size:1.3em; }
#wikiContent h4 { font-size:1.2em; }
#wikiContent h5 { font-size:1.0em; }

div.section h1 i,
div.section h2 i,
div.section h3 i,
div.section h4 i,
div.section h5 i {
  margin-top: 5px;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration:none;
}

ul {
  list-style-image: /* url(../imgs/li1.png); /* */
     url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAYElEQVQIW2OcN2/e/wsXLjCAACsrK4O2tjZDUlISI4jPmJeX9x8sAwUgBcXFxQxSUlKM+CWBqv7//v0bbiyIAdcJsvPq1atwY0F2enh4QIwFiT579gzFXpAYXBLZQchsANVcIQjW8cb3AAAAAElFTkSuQmCC");
}

ul>li ul>li {
  list-style-image: /* url(../imgs/li2.png); /* */
     url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAARElEQVQIW2MsLi7+//v3bwYQYGVlZejt7WUEsRnz8vL+g0WhIDc3l0FVVZURtwS6URkZGRAdIBNu376NYhxcAtkOGBsAlxoaB4plusQAAAAASUVORK5CYII=");
}

ol {
  list-style-image: none;
}

h2,h1 {
  padding-top:0.1em;
}

* html a.perma:visited { /* IE hack */
  color:#000;
}

div.message {
  margin-top: 3pt;
  padding:0px 5px;
  /* background: #FFF1B9 url(../imgs/warn.png) 10px 10px no-repeat; */
  min-height: 60px;
  height: auto !important;
  height:60px;
  border: 2px solid #e0e0e0; /* */
  border-radius: 3px;
  background: #f4f4f4;
}

div.message h3 {
  margin:0px;
  border:0px;
  font-family:Trebuchet MS,sans-serif;
  font-size:20px;
  line-height:300%;
}

pre.errlog {
  padding-left:55px;
  background: #FFE784 url(../imgs/error.png) 10px 10px no-repeat;
  min-height: 40px;
  height: auto !important;
  border-width:2px 0 2px 0;
  height:40px;
}

.highlight {
  background-color:#FFFF40;
}

#wikiGoto {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:11px;
}

input, option, select {
  font-size:12px;
  padding:1px;
  margin:1px;
}

#wikiGoto input[type="text"] {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:11px;
  width:100px;
}

input[value="Go"] {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:10px;
  width:26px;
}

input[value="OK"] {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:10px;
  width:26px;
}

/* input submit button styling */

span input.save-button,
span input.button {
  height:24px;
  margin:0px;
  padding:0px;
  padding-top:0px;
  background: transparent url('../imgs/btn_default.png') no-repeat right top;
  border:0px;
  position:relative;
  left:2px;
  display:inline-block;
  padding-right:5px;
  padding-left:4px;

  _display:inline;
  _overflow:visible;
  _padding-top:2px;
  _left:4px;
  *padding-top:2px;
}

span.button {
  display:inline-block;
  height:24px;
  background: transparent url('../imgs/btn_default.png') no-repeat left top;
  position:relative;
  padding:0px;
  margin:0px;
  margin-right:2px;
  line-height:17px;

  _display:inline;
  _overflow:visible;
  left:1px;
}

/* from devcenter */
a.button-small {
  background:transparent url(../imgs/btn_mini.png) no-repeat left top;
  color:#666666;
  display:inline-block;
  height:17px;
  margin:0px 2px 0 0;
  text-decoration:none !important;
  margin-left:-3px;
  line-height:15px;
}

a.button-small span {
  background:transparent url(../imgs/btn_mini.png) no-repeat right top;
  color:#666666;
  cursor:pointer;
  display:inline-block;
  font-family:sans-serif;
  font-size:11px;
  font-weight:normal;
  height:17px;
  line-height:19px;
  *line-height:19px;
  text-align:center;
  vertical-align:middle;
  text-decoration:none;
  min-width:20px;
  padding-left:3px;
  padding-right:6px;
  margin: 0;
  margin-left:3px;
  _overflow:hidden;
  white-space: nowrap;
}

#editor_info li {
  *padding:0; /* IE6 magic;;; */
}

table span.button {
  _display:inline-block; /* IE6 magic;; */
}


/* button styling */
button {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:12px;
  padding:2px;
  vertical-align:top;
}
button, x:-moz-any-link, x:default {padding:0px;}

button {
  position:relative;
  background: transparent url('../imgs/btn_default.png') no-repeat left top;
  height: 24px;
  display:inline-block;
  margin:0;
  padding:0;
  border:0;
  text-align:center;
  overflow:visible;
  cursor:pointer;
  vertical-align:top;

  margin-left:2px;

  _overflow-y:hidden;
  _margin-right:3px;
  padding-left:2px;
}


button span {
  position:relative;
  height:22px;
  white-space:nowrap;
  display:inline-block;
  padding: 0 13px 0 6px;
  border:none;
  background: transparent url('../imgs/btn_default.png') no-repeat right top;

  line-height:19px;
  padding-top: 2px;
  vertical-align:top;
  overflow:visible;
  left:2px;
  _margin-right:0px;
}

*+html #wikiBody button span {
  margin-right:0;
}

/* firefox magic */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  padding:0;
  margin:0;
  border: none;  /* overrides extra padding in Firefox */
}

html>/**/body button span, x:-moz-any-link, x:default {
  /* left:0px; /* FF 3.5.x */
}

input[type="submit"] {
  font-family:Tahoma,Lucida,sans-serif;
  padding:2px 3px;
  font-size:12px;
}

html>/**/body input[type="submit"], x:-moz-any-link, x:default {
  padding:1px 2px 0px 2px;
}

.searchResult input[value="Go"] {
  font-size:2em;
  width:auto;
}

.searchResult { text-align:center; }

.searchResult input {
  font-size: 2em;
  font-weight:bold;
  font-family: Trebuchet MS, "Times New Roman", Times, serif;
}

table.closure, td.closure{
  background-color: #E9ECEF;
}

/*  */
.wikiHr {
  border:0px solid;
  padding: 0px 0px; /* */
  margin-top:0px;
  height:1px;  
/* background: #000 url(hr1.gif) no-repeat scroll center; */
}

.separator hr {
  height:2px;
  color:#ccc;
  border:0px solid;
  background-color:#e0e0e0;
}

.foot .separator {
  margin-top:0.8em;
  margin-bottom:0.8em;
  border-bottom: 2px solid #eee;
  width:70px;
}

.foot .separator tt {
  display:none;
}

div.foot ul li {
  list-style:none;
  list-style-image: none;
}

.foot tt.foot {
  vertical-align:bottom;
  font-family: Trebuchet MS, sans-serif;
  font-size:12px;
}

.foot ul li:target {
  background-color: #eee;
}

.foot ul li:target a {
  font-weight:bold;
}

.foot ul li:target tt.foot a {
  background-color: #def;
  font-weight:bold;
}

#wikiTrailer {
  display:inline-block;
  height:25px;
  padding:0;
  margin-right:20px;
  text-align:left;
  font-family: "Trebuchet MS",Georgia,sans-serif;
}

#wikiTrailer p {
  display:inline-block;
  height:25px;
  margin:0;
  padding:0;
  float:left;
}

#wikiTrailer p span {
  display:inline-block;
  margin:0;
  margin:0 0 0 15px;
  padding:4px 15px 3px 0;
}

#wikiTrailer p span span.separator {
  background: none;
  margin: 0;
  padding: 0 0.5em;
}

#wikiTrailer a {
  color: #777777;
  text-decoration: none;
}

#wikiTrailer a:hover {
  color: #3c3c3c;
  text-decoration: underline;
}

.wikiNavigation {
  background-color:#E0E0E0; 
  padding-top: 5px;
  padding-bottom: 5px;
}

#wikiOrigin {
  background-color:#fafafa; 
  padding-left: 20px;
  padding-top:3px;
  padding-bottom:3px;
}

#wikiHeader {
/*  border-left: 0.8em solid #7B9AC5; /* */
/*  border: 1px solid #7B9AC5; /* */
  clear:both;
  color: #000000;
  padding: 0;
  margin-left:5px;
}

#wikiHeader a:link {color:#000000;}
#wikiHeader a:visited {color:#000000;}

#wikiMenuBar {
  padding:2px;
  padding-top:3px;
  height:41px; /* important !!! for IE */
  padding-bottom:0;
  margin:0;
  margin-left:5px;
  margin-right:4px;
}

#wikiIcon {
  padding: 7px 15px;
  text-align: right;
  vertical-align: middle;
}

#wikiIcon a {
  text-decoration: none;
}

/*
#wikiIcon img {
  visibility:hidden;
  _visibility:visible;
}

#wikiIcon:hover img {
  visibility:visible;
}
*/

#wikiIcon {
  float:none; /* */
}

/*
#wikiIcon {
  padding: 7px 7px 7px 7px;
  float: right;
  width: 20px;
  margin-right: -60px;
  background: white;
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  border: 1px solid #eee;
  border-left: 1px solid transparent;
}
*/

#wikiIcon a {
  width: 18px;
  height: 24px;
  display: inline-block;
}

.new .wikiIcon, .updated .wikiIcon {
  vertical-align: middle;
}

/* customize update/new state icon */
/*
.updated img.wikiIcon {
  display: none;
}

.recentChanges .updated {
  width:16px;
  height:18px;
  display: inline-block;
}

.recentChanges .updated {
  background: url(../imgs/updated.png) no-repeat 0 0;
  background-size: 16px 16px;
  background-position: center center;
}
*/

#wikiMenu {
  margin:0;
  padding:0;
  padding-left:4px;
  margin-left:4px;
  border-bottom: 1px solid #ededed;
  text-shadow: #e3e3e3 1px 1px 1px;
}

#wikiMenu ul {
  display:inline-block;
  list-style:none;
  height:40px;
  margin:0;
  padding:0;
  margin-left:0;
  padding-bottom:3px !important; /* for FF */
  padding-bottom:2px;
  margin-left:-6px;
}

#wikiMenu li {
  display:inline-block;
  height:41px;
  margin:0px;
  padding:1px 0 0 0;

  float: left;
}

#wikiMenu li img {
  display: none;
}

#wikiMenu li a {
  display:inline-block;
  margin-top:1px;
  padding:11px 10px;
  color: #505050;
}

#wikiMenu li a.main {
  padding:0px;
  background:none;
}

#wikiMenu li a:hover, #wikiMenu li.current a:hover {
  background-color: #e0e0e0; /* dark blue */
  /* background-color: #F2B568; /* orange */
  text-decoration: none;
  border-radius: 0.3em;
}

#wikiMenu li.current a {
  text-decoration: none;
}

#wikiMenu li:hover a{
}

#wikiMenu li a:active {
  text-decoration: none;
}

#wikiMenu a, #wikiMenu a:visited, #wikiMenu a:link {
  margin: 0;
  text-decoration: none;
}

#wikiMenu a{
  font-weight:bold;
  text-decoration:none;
}

#wikiAction {
  font-size: 1em;
}

#wikiAction ul {
  list-style:none;
  padding:0;
  margin:0;
  white-space:nowrap;
  height:25px;
  padding-right:10px;
}

#wikiAction li {
  display:inline-block;
  padding:5px;
  _padding-top:7px;
  _padding-bottom:4px;
  *display: inline;
}

#wikiAction a {
  text-decoration:none;
  color: #777777;
}

#wikiAction a:hover {
  text-decoration:underline;
  color: #3c3c3c;
}

#wikiBody {
  margin-left:10px;
  color: black;
/*  background-color: #fff; /* */
/*  overflow: hidden; /* magic XXX */
/*  border: 1px dotted #c0c0c0; /* */
/*  border-left: 0.8em solid #E2ECE2;
  border-right: 0.8em solid #E2ECE2; */
/*  border-left: 0.8em dotted; /*solid #6A2525; */
/*  border-right: 0.8em solid #6A2525; */
/*  text-transform: lowercase; /* */
/*  margin: 10px 10px 0px 10px; */
/*  padding: 5px 1em 5px 1em; */
/*  margin-left: 20px; */
/*  padding-left: 1em; /* */
/*  text-indent: 10px; */
/*  border: 0px outset #E2ECE5; */
/*  font-size:16px; 
  border-collapse:collapse; */
  left:1px;
  padding-right:10px;
/* border-right:1px solid #f0f0f0; /* */
  margin-right: 10px;
  margin-top:0;
  padding-top:10px;
  padding-right:10px;
  margin-right:0;
  _display:inline-block;
}

#wikiBody a:link {
  color: #505050; /* */
}

#wikiBody a:visited {
  /* border-bottom: 1px dotted #bbb; */
  color: #573379; /* */
  text-decoration:none;
}

#wikiBody a.nonexistent { color: #ff0000; }

#wikiBody a:hover {
  color: #168DCD;
}

#wikiContent { padding-left: 10px; }

#wikiExtra {
/*  padding-top: 1em; /* */
}

#wikiFooter {
  clear:both;
  text-align:center;
  margin: 10px 0;
}

#toolbar {
  line-height: 100%;
}

.wikiHints {
  border: 1px solid #e5e5e5;
  background-color: #fafafa;
  padding: 0px 2px 0px 12px;
  height: 110%;
}

.wikiHints .space {
  font-family: monospace;
  background: #ffc url("../../../imgs/misc/space.gif") no-repeat left bottom;
  display:inline-block;
  width:11px;
  height:12px;
  white-space:pre;
}

.wikiHints .head {
  font-family: sans-serif;
  letter-spacing: -1px;
  font-size: 0.9em;
  padding: 0px 12px;
}

.wikiHints .head .tutorial-link {
  float: left;
}

.wikiHints .head .open-button,
.wikiHints .head .close-button {
  cursor:pointer;
  float: right;
  padding-top: 3px;
}

.wikihints .head .clear {
  clear: both;
  height: 0;
}

/* question mark(?) and close mark(x) for wikiHints */
.wikiHints .head .mark {
  color: #ff621a;
  font-weight: bold;
}
.wikiHints .head .close-button .mark {
  font-size:12px;
}

.wikiHints .head .message {
}

/* a rule between head and content of wikiHints */
#wikiHints_opened_head {
}

#wikiHints_content {
  background-color:#fafafa;
  border-top: 1px solid #e5e5e5;
  font-size:12px;
  font-family: 'Bitstream Vera Sans', Courier New, monospace;
  color: #5f5f5f;
  line-height:160%;
  padding: 10px;
  margin:0px;
}

#wikiSister {
/*  background-color:lightgreen; /* */
}

#wikiSister li {
  list-style: none;
}

#wikiPreview, #wikiDiffPreview {
  border: 2px solid #a0a0a0;
  margin: 5px 5px 5px 5px;
  padding: 5px 1em 5px 1em;
}

#edit-summary input { width: 99%; }

div.indent {
  margin-top: 3px;
  padding-left: 22px;
}

blockquote.quote {
  font-family: Georgia, sans-serif;
  font-size: 14px;
  margin: 0.55em 1.5em;
  padding: 0.20em 0.8em;
  line-height: 1.45;
  color: #383838;
}

div.quote.indent {
  border-left: 3px solid #DDD;
}

blockquote.quote:before {
  position: absolute;
  margin: -23px 20px 0 -45px;
  content: "\201C";
  font-size: 70px;
  color: #707070;
}

div.diff-removed {
  background-color:#ffdddd;
}

del.diff-removed {
  color: #999999;
  background-color:white !important; /* */
  /* background-color:#f0f0f0; /* */
  border-right:2px solid #f0f0f0;
  border-left:2px solid #f0f0f0;
  text-decoration:line-through;
}

.fancyDiffInline del.diff-removed {
  color: #000000;
  background-color:#ffb0b0 !important; /* */
  text-decoration:none;
}

.fancyDiffInline ins.diff-added {
  color: #000000;
  background-color:#8eff8e !important; /* */
  text-decoration:none;
}

ins.diff-added {
  background-color:#50ff50;
}

span.diff-added {
  background-color:#00ff00;
}

span.diff-removed {
  background-color: #FF0000;
}

span.diff-added {
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, Helvetica, Trebuchet MS, Arial, sans-serif;
  text-shadow: 1px 1px 2px #fff;
  background-image: linear-gradient(#00ff00, #00c000);
  border-radius: 2px;
  margin-right: 2px;
  height: 18px;
  white-space: nowrap;
}

span.diff-removed {
  color: yellow;
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, Helvetica, Trebuchet MS, Arial, sans-serif;
  text-shadow: 1px 1px 2px #ff8080;
  background-image: linear-gradient(#ff0000, #c00000);
  border-radius: 2px;
  height: 18px;
  white-space: nowrap;
}

div.diff-sep {
  text-shadow: 0 1px 0 #fff;
  padding: 5px 10px;
  background-image: linear-gradient(#fafafa, #eaeaea);
  border: 1px solid #ccc;
}

table.info td {
  font-family:courial new,sans-serif;
}

table.info tr.log p { margin: 0; padding-bottom: 1em; }

th.rev {
  font-family:courial new,sans-serif;
}

div.hint { font-size: 10px; background-color: #369; color:white;}
a.purple { font-size: 10px; text-decoration:none;}

/* Blog CSS */
a.purple { font-size: 10px; text-decoration:none;}
div.blog { width:90%; padding: 0em 1em 0em 1em; }
div.blog-title { font-size:16px; font-weight:bold; }
div.blog-comments { }
div.blog-comment { padding:1em 1em 1em 2em; margin-bottom:5px;border-left: 4px solid #E4F1F4; background-color:#F0F6F8;}
div.blog-comments .separator { display:none;}
div.blog-action { font-family:Dotum,Trebuchet MS,sans-serif; text-align:right; font-size:11px; }
div.blog-action .bullet { font-family:Arial,sans-serif; font-size:11px; }
div.blog-action .count { font-family:Arial,sans-serif; font-weight:bold; color:#fa6f46; font-size:11px; }

div.blog-date { font-size:18px; font-weight:bold; padding-bottom:5px;}
div.blog-user, span.blog-user { font-family:Dotum,Arial,sans-serif; font-size:11px; padding-bottom:5px; }

div.blog-summary { margin-bottom:11px;}

div.trackback-hint { font-family:Dotum,sans-serif; font-size: 11px; padding: 1em 1em 1em 1em;background-color: #eee;}

/* SWFUpload */
#wikiBody #mmUploadFileListing li {
  font-family:Dotum, sans-serif;
}

/* Calendar */
td.day { background: #e0e0e0; text-align: center;}
td.today { background:#ffffff; text-align: center;}
span.blogged {
  text-decoration:none;
  font-weight:bold; color:#000000; text-align: center;
}

.Calendar a{text-decoration:none;color:black;}

caption.month {
  font-weight:bold;
  white-space:nowrap;
}

/* HierarchicalWiki */
.wikiGroup {
  font-weight:bold;
  padding-left:10px;
  font-family:Tahoma,Lucida,sans-serif;
  font-size:x-small;
  color: #0686db;
}

/* login */
#wikiSideMenu #wikiLogin {
  font-family:Dotum,Tahoma,sans-serif;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  border-bottom: 1px solid #e0e0e0;
}

#wikiSideMenu #wikiLogin input {
  font-family:Dotum,Tahoma,sans-serif;
  font-size:11px;
  font-weight:normal;

  padding-top:1px;
  _padding-top:3px;
}

#wikiSideMenu #wikiLogin:lang(ko) {
  letter-spacing:-1px;
}

#wikiSideMenu #wikiLogin:lang(ko) input {
  letter-spacing:-1px;
}

#wikiLogin a, #wikiLogin a:visited {
  text-decoration: none;
  color: #ccc;
}

#wikiLogin a:hover {
  text-decoration: none;
  color: #0686d8;
}

.popup #wikiLogin {
  margin: 5px auto;
  padding: 1em;
  width: 260px;
  background: white;
  -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

.popup #wikiLogin td {
  vertical-align: middle;
  font-weight: bold;
  color: #333;
}

.popup #wikiLogin td.label {
  text-align: right;
}

.popup #wikiLogin input[type="password"],
.popup #wikiLogin input[type="text"] {
  font-weight: 200;
  font-size: 24px;
  line-height: 1;
  padding: 3px;
  margin: 10px 5px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.popup #wikiLogin td.submit {
  text-align: right;
  padding-right: 8px;
}

#commentForm {
  padding:5px;
  background-color:#eeeeee;
}

#commentForm input {
  /* border:1px solid #848284; /* */
  font-size:x-small;
  font-family:Verdana,sans-serif;
  outline:none;
}

/* enscript syntax */
div.wikiPre i,div.wikiPre b{
  font-weight: normal;
  font-style: normal;
}

img.imgLeft {
  margin-right : 15px;
  margin-bottom : 5px;
}

img.imgRight {
  margin-left : 10px;
  margin-bottom : 5px;
}

div.imgContainer.imgCenter,
div.imgAttach.imgCenter,
div.externalImage.imgCenter {
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.imgContainer div.imgAttach {
  display: inline-block;
  border: 1px solid silver;
  padding: 2px;
}

.imgContainer { margin: 10px 0; }
.imgAttach .caption {
  text-align: center;
  padding: 3px;
  font-size: inherit;
}
.imgAttach div span { display: none; }

span.externalLink {
  display: none;
}

span.lineNumber {
  color:#c0c0c0;
  /* color:#ffff00; /* */
}

math, math[mode="inline"] {
  font-family: CMSY10, CMEX10, Symbol, Times;
}

.sectionEdit span {
  /* padding:5px 16px;
  height:26px; */
  font-size:12px;
  top:10px;
}

.sectionEdit a span {
  padding:3px 5px 3px 5px;
  font-size:12px;
  /* visibility:hidden; */
  border: 1px solid #ccc;
  border-radius:3px;
  box-shadow: 0 2px 2px rgba(64, 64, 64, 0.1);
}

#wikiBody .sectionEdit a, #wikiBody .sectionEdit a:hover {
  text-decoration: none;
  color: #000;
}

.sectionEdit span.sep { display:none; } /* */

.commentForm textarea.wiki {
  align:right;
  width:412px; height:136px;
  background:url(../imgs/commentarea.png) no-repeat left top;
  border:none;
  outline:none; /* webkit */
  resize: none; /* webkit */
  padding:4px 8px;
}

* html .commentForm textarea.wiki { /* IE fix */
  background:url(../imgs/commentarea.png) no-repeat left top fixed;
  padding-right:20px;
}

.commentForm textarea.wiki:hover { background-position:left bottom;}

#goFormUpper input.goto {
  width:174px !important; 
  height:25px;
  background:url(../imgs/goinput2.png) no-repeat left top;
  border:none;
  outline:none;
  padding:6px 7px;
  font-family: "Trebuchet MS",Georgia,sans-serif;
  font-size:16px;
  line-height:130%;
}

* html #goFormUpper input.goto { /* IE fix */
  background:url(../imgs/goinput2.png) no-repeat left top fixed;
}

#goFormUpper input.goto:hover {
  background-position:left bottom;
}

#goFormUpper input.submitBtn {
width:40px !important;
height:35px;
color:#FFF;
font-weight:bold;
margin-top:0px;
padding:5px 5px;
font-size:11px;
background:url(../imgs/gobutton2.png) no-repeat left top;
cursor:pointer;
border:none;}

#goFormUpper input.submitBtn:hover {
  background-position:left bottom;
}

/* goform on the menubar */
#goForm {
  float:right;
  padding: 5px 10px 0 0;
  _padding: 0px 7px 0 0; /* IE fix */
}

#goForm input.goto {
  border: 1px solid #ccc;
  border-radius: 3px;
  width:136px !important;
  height:12px;
  border:0px;
  outline:none;
  padding:9px 7px;
  font-family: "Trebuchet MS",Georgia,sans-serif;
  font-size:12px;
  border: 1px solid #ccc;
}

#goForm input.goto:hover {
  background-position:left bottom;
}

#goForm input.submitBtn {
  width:33px; height:30px;
  font-weight:bold;
  padding:0px 4px 1px 4px !important;
  padding:2px 4px;
  cursor:pointer;
  margin:0px;
  margin-top:0px;
  border:0px;
  font-size:11px;
  font-family: Verdana,Tahoma,sans-serif;
  color: #5e5e5e;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: linear-gradient(top, #f9f9f9, #ebebeb);
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}

#goForm input.submitBtn:hover {
  background-position:left bottom;
}

#container {
  margin: 0 auto;
  height:100%;
  overflow:hidden;
  background-repeat: repeat-y;
  background-position: 100% top;
}

#mycontent { /* theme specific */
/*  margin-right:140px; /* */
  padding-right:0;
  height:100%;
}

#wikiSideMenuContainer {
  display:inline-block;
  overflow:visible;
  float:right;
  max-width:160px;
  width:auto !important;
  _width:10px; /* IE6 magic */
  height:100%;
  margin-left:10px;
  _margin-left:0;
}
#wikiSideMenu {
  display:inline-block;
  overflow:visible;
  float:right;
  width:150px;
  padding:10px;
  margin:0;
}

.randomQuote {
  font-family: Georgia,Verdana,Tahoma,sans-serif;
  font-weight:bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0px 10px 0px;
}

.wikiFortune {
  border: 1px solid #f0f0f0;
  padding: 15px;
}

.randomPage {
  font-family: Trebuchet MS,sans-serif;
/*  border-bottom: 1px solid #e0e0e0; /* */
  padding: 0px 0px 10px 0px;
}

.calendar {
  font-size:11px;
  font-family: Trebuchet MS,sans-serif;
}

#topIcon {
  text-align:right;
  padding-right:20px;
}

.resizable-textarea .grippie {
  height: 14px;
  background: #F0F0F0 url(../imgs/grippie.png) no-repeat 100% 100%;
  border: 1px solid #E7E7E7;
  margin:0;
  margin-top:-3px;
  _margin-top:-1px;
  border-top-width: 0;
  cursor: s-resize;
}

.resizable-textarea textarea {
  margin:0;
  resize:vertical;
}

.resizable-textarea textarea:focus {
  outline: none;
  box-shadow: 0 0 3px #000000 inset;
}

.resizable-textarea {
  padding-bottom:0.3em;
  line-height: 100%;
}

#toTop {
  float:right;
}

#subMain ul {
  list-style:none;
  padding-left:5px;
}

#subMenu ul {
  padding-left:15px;
}

#scrap li {
  list-style: none;
  padding-left:0px;
}

#scrap ul {
  list-style: none;
  padding-left:0px;
}

#scrap {
  margin-right: 5px;
  padding: 1em;
  margin-left: 1em;
  float: right;
  background-color:#FFF880;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  border-radius: 0;
}

#save_state {
  background-color: #3879d9;
  position: absolute;
  top: 2px;
  right: 2px;
  color: #fff;
  font-family: verdana, sans-serif;
  font-size: 11px;
  padding: 4px;
  display: none;
}

.recentChanges {
  overflow-x: auto;
  clear:both;
}

.recentChanges button {
  margin-top: 4px;
}

.recentChanges table {
  border: 1px solid #e0e0e0;
}

.recentChanges td.date, .recentChanges td.hits {
  font-family:Trebuchet MS,Tahoma,Lucida,sans-serif;
  color: #999999;
}
.recentChanges .hits, .recentChanges .editinfo {
  text-align:right;
}
.recentChanges .user, .recentChanges .editinfo {
  font-family:Trebuchet MS,Tahoma,Lucida,sans-serif;
}

.recentChanges tr.alt {
  background-color: #fbfbfb;
  border-bottom: 1px solid red;
}

.recentChanges td, .recentChanges th {
  padding: 0.5em;
}

.recentChanges th {
  background-image: linear-gradient(#fafafa, #f5f5f5);
}

.recentChanges td {
  border-top: 1px solid #eff0ed;
}

.recentChanges span.diff-added {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 3px;
}

.recentChanges span.diff-removed {
  margin-left: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.rc-editors span.editor {
  white-space: nowrap;
}

#editor_info ul li {
  list-style-image:none;
}

.author img {
  padding-right: 2px;
}

.recentChanges td.author { width: 8%; text-align: center; }
th.rev { width: 10%; text-align: center; }
td.date { width: 150px; }
td.change { width: 20%; text-align: center; }
td.check { width: 20%; }

dd {
  margin-left: 1em;
}

.toctitle img {
  margin-bottom: 4px;
}

#wikiContent .toctitle h2 { border: 0; }
#wikiContent .toctitle { margin-top:0.8em; }

div.wikiInfo { overflow-x: auto; }

.wikiInfo td.change {
  font-size: 0.9em;
}

.wikiInfo .diff-added, .wikiInfo .diff-removed {
  padding: 2px;
}

/* images */
.externalImage,
.imgAttach {
  max-width: 100%;
  max-height: 800px;
}

.externalImage img,
.imgAttach img {
  max-width: 100%;
}

div.imgAttach { display: inline-block; text-align: center; }
.externalImage div { text-align: center; }
.externalImage div div a { display: none; }
.externalImage { display: inline-block; }
div.imgAttach, .externalImage div {
  text-align: center;
}

div.imgAttach div.loading, .externalImage div.loading {
  background: url(../../../imgs/misc/spinner_32.gif) no-repeat center;
  display: inline-block;
}

div.imgAttach div.wrapper,
div.externalImage div div.wrapper { display: inline-block; margin:0; padding:0; }

div.imgAttach div.loading img,
.externalImage div.loading img {
  opacity:.30 !important;
  filter:alpha(opacity=30);
}

div.externalObject div { text-align: center; }

div.externalObject div div {
  text-align: center;
  display: block;
  background-image: linear-gradient(#fafafa, #eaeaea);
  padding: 0.3em;
  font-weight: bold;
  margin-bottom: 0.3em;
  border: 1px solid #ccc;
}

div.externalObject.youtube div span {
  background: url("../../../imgs/interwiki/youtube-16.png") no-repeat;
  padding-left: 17px;
  background-position: 0 1px;
}

div.externalObject.daum div span {
  background: url("../../../imgs/interwiki/tvpot-16.png") no-repeat;
  padding-left: 17px;
}

div.externalObject.vimeo div span {
  background: url("../../../imgs/interwiki/vimeo-16.png") no-repeat;
  padding-left: 17px;
  vertical-align:middle;
}

div.externalObject { display: inline-block; }

/* youtube movie */
object.external { width:560px; height:340px; }
object.external, object.external embed { min-width:310px; min-height: 200px; }
div.externalObject div div { text-align: center; display: block; background-color: #c8c8ec; padding-left: auto; padding-right: auto;}
div.externalObject { display: block; padding-left: auto; padding-right: auto;}

/* FIXME */
@media screen and (min-width: 480px) and (max-width: 700px) {
object.external { max-width:360px; max-height: 300px; }
object.external embed { max-width:480px; max-height: 300px; }

}

@media screen and (max-width: 800px) {
.imgAttach { overflow-x: auto; }
.imgAttach img { height: auto; }

}

@media screen and (min-width: 481px) {
#wikiMenu.collapse { height: auto !important; }
}

@media screen and (max-width: 979px) {
#wikiMenu ul { height: 100%; }
#goForm { float: none; }
#goForm { text-align: center; }
.imgAttach { overflow-x: auto; }
}

@media screen and (max-width: 480px) {
/*
	사용자 정보 표시를 위한 스타일 시작
*/
#p-personal
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgb(245, 245, 245);
	display: inline-block;
}

#p-personal h3
{
	display: inline;
	width:100%;
	clear:both;
	padding-left: 0;
}
#p-personal ul
{
	list-style: outside none none;
	padding:0px;
	display:none;
}
.p-personal-list-show
{
	display:inline;
}
#p-personal ul li
{
	clear:both;
	width:100%;
	margin:0px;
	padding:0px;
}
#p-personal ul li a
{
	display:inline-block;
	line-height:32px;
	padding:6px;
	text-decoration:none;
	width:100%;
}
#p-personal ul li a:hover
{
	background-color:#CCC;
}
/*
	사용자 정보 표시를 위한 스타일 끝
*/
body { font-size: 100%; }
div.message { margin: 3pt 5px 0px 5px; }
#wikiExtra { padding: 0 0 0 2px; /* */ }
#wikiMenu ul { list-style: square outside; }
#wikiMenu ul { display: block; margin: 0 auto 0 auto; text-align: center; }
#wikiMenu li { display: block; float: none; }
#mainBody { min-width: 300px; padding: 0; margin: 0 auto 1em auto; border-radius: 0; }
#wikiBody { padding: 0 0 1em 0; }
#wikiTitle { text-align: center; padding: 1em; }
#wikiIcon img { width: 20px; }
#wikiBody { margin:0;}
#wikiContent { padding:0 0.4em; }
#wikiAction { font-size: 0.8em; }
#wikiContent div:hover .sectionEdit { display: none; visibility: hidden;}
div.sectionEdit { display: none; visibility: hidden;}

div.section h1 i,
div.section h2 i,
div.section h3 i,
div.section h4 i,
div.section h5 i {
  float: right;
  margin-top: 5px;
  margin-right: 2px;
}
div.section { border-top: 1px solid #e0e0e0; /* */ }
div.section div div { padding-bottom: 1em; /* */ }

#wikiContent h1, #wikiContent h2 { border-bottom: none; }

/* external images */
div.imgAttach, .externalImage { display: block; }
div.imgAttach div span { display: inline; }
a.externalLink img { display: inline; }
.externalImage a { display: inline; text-align: center; }
.externalImage div div a { display: block; text-align: center; }

div.section div.externalImage div { padding-bottom:0; }
div.externalImage div div { display: inline; }
/* .externalImage { display: block; overflow-x: auto; } */
.externalImage div { margin: 5px auto; }

.imgAttach { overflow-x: auto; }

object.external { max-width:310px; max-height: 200px; }
object.external embed { max-width:310px; max-height: 200px; }

table.right { float: none; margin-left: auto; margin-right: auto; }
table.wiki { overflow-x: auto; display: block; }

#save_state {
  background-color: #3879d9;
  position: fixed;
  top: 2px;
  right: 2px;
}

}

.wikiRedirect {
  margin-left: 1em;
}

.wikiRedirect p {
  background: url("../../../imgs/misc/redirect.png") no-repeat 0 6px;
  padding-left: 12px;
  margin: 0.1em 0 2em 0em;
  font-size:1.5em;
}

.wikiDeprecated {
  /* border: 2px solid #e0e0e0; /* */
  /* border-radius: 3px; /* */
  margin-bottom: 2em;
}

.wikiDeprecated p {
  background: url("../../../imgs/misc/deprecated.png") no-repeat 0 3px;
  background-size:18px 18px;
  padding-left: 1.5em;
  font-size:1.0em;
}

.redirectIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../../imgs/misc/redirect.png") no-repeat 0 6px;
}

.redirectIcon span {
  display: none;
}

img.interwiki { margin-right: 2px; }

.share-buttons {
  text-align: center;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

/* Twitter */
#mycontent .twitter-share-button.twitter-count-horizontal {
  width: 80px !important;
}

#mycontent .twitter-share-button.twitter-count-vertical {
  width: 59px !important;
}

#mycontent .fb-like {
  margin-right: 5px;
}

div#float-footnote {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f3f3;
  box-shadow: 0 -1px 8px 0 rgba(0,0,0,0.35);
  word-wrap: break-word;
  z-index: 5;
  position:fixed;
}

#float-footnote {
  font-size: 0.9em;
  padding: 16px 38px 18px 22px;
}

#float-footnote div {
  display: inline-block;
}

#float-footnote tt.foot {
  vertical-align: bottom;
  font-size: 1em;
}

#float-footnote button {
  float: right;
  right: 22px;
  width: 16px;
  height: 12px;
  background: url(../../../imgs/misc/close-button.png) no-repeat scroll 0 0 transparent;
  margin-top: 0.7em;
  background-position: right top;
  -o-background-size: auto 12px;
  -webkit-background-size: auto 12px;
  background-size: auto 12px;
  cursor: pointer;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  border: none;
}

.wikiBlame table { border-spacing:0; border-collapse:collapse; margin: 0.5em; border:1px solid #f0f0f0; }
.wikiBlame .version { background-color: #f0f0f0; }
.wikiBlame .author { background-color: #f0fff0; width:13%; text-align:right; }
.wikiBlame .date { background-color: #f0f0f0; }
.wikiBlame .alt { background-color: #F2F2F2; }
.wikiBlame .line { width:1%; padding-left: 8px; padding-right: 8px; text-align:right; border-right: 2px solid #b0b0b0; }
.wikiBlame .src { padding-left: 8px; }

#wikiSpoiler {
 display: none;
}

div#wikiSpoiler:before {
  margin-top: -10px;
  display: block;
  content: "\201C";
  font-size: 80px;
}

div.pull-msg {
  margin: 0 auto 5px auto;
  padding: 0 2em;
  text-align: center;
  background-color: #1CA6D4;
  max-width: 960px;
  box-shadow: 0 2px 2px rgba(100, 100, 100, 0.3);
  border-radius: 0.3em;
}

div.pull-msg a {
  font-family: Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
}

div.switch-pc-mobile {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #ccc;
  background: #444;
}

a.switch-to-mobile {
  color: #eaeaea;
  font-size: 60px;
  padding: 30px 0;
  text-decoration: none;
  display: inline-block;
}

a.switch-to-pc {
  color: #eaeaea;
  font-size: 26px;
  padding: 12px 0;
  text-decoration: none;
  display: inline-block;
}

.imgAttach a.zoom, .externalImage a.zoom {
  display: inline-block;
  text-indent: 100px;
  overflow: hidden;
  margin-left: -22px;
  width: 22px;
  height: 22px;
  background: url(../imgs/magnify-icon.png) no-repeat 0 -22px;
  opacity:.70 !important;
  filter:alpha(opacity=70);
}

.imgAttach:hover a.zoom, .externalImage:hover a.zoom {
  background-position: 0 0;
}

.imgAttach a.zoom:hover, .externalImage a.zoom:hover,
.imgAttach a.zoom.out:hover, .externalImage a.zoom.out:hover {
  background-position: 0 -22px;
}

.imgAttach a.zoom.out, .externalImage a.zoom.out {
  background-position: -22px 0;
}

.imgAttach a.zoom, .externalImage a.zoom {
  opacity:1.0;
}

/* folding processor */
.folding {
  background-color: #f7f7f7;
  padding:0;
  border-radius: 3px;
  -webkit-box-shadow: rgba(220, 220, 220, 0.7) 0 3px 10px -1px;
  box-shadow: rgba(220, 220, 220, 0.7) 0 3px 5px -1px;
  margin:0;
}

.folding dt {
  height:20px;
  font-weight:bold;
  line-height:20px;
  vertical-align:middle;
  cursor:pointer;
  padding: 3px;
  padding-left: 16px;
  background: url(../../../imgs/misc/open.png) no-repeat 3px 7px;
}

.folding dt.opened {
  background: url(../../../imgs/misc/close.png) no-repeat 3px 7px;
}

/* Join agreement */
.join-agreement {
  height: 140px;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 20px 15px 20px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #DDD;
  background: #FBFBFB;
  color: #767676;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.check-agreement {
  margin-left: 20px;
}

/* .uploadForm ul li { list-style: none; } */

.icon-open, .icon-close {
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: text-top;
  line-height: 1;
  margin-top: 4px;
}

.icon-open {
  background: url(../../../imgs/misc/open.png) no-repeat;
}

.icon-close {
  background: url(../../../imgs/misc/close.png) no-repeat;
}

.navbar .brand {
    font-family:Trebuchet MS,Tahoma,Lucida,sans-serif;
    color: #333;
    display: block;
    padding: 10px 20px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-shadow: #C3C3C3 1px 1px 1px;
}

/* bootstrap like styling */
.navbar .btn-navbar {
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-image: none;

}

button.btn-navbar span {
    background: none;
    padding: 0;
    left: 0;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0px;
    vertical-align: middle;
    color: rgb(51, 51, 51);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
/*
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179);
*/
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
/*
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
*/
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}

button.btn-navbar {
    height: inherit;
    margin-top: 9px;
}

.btn-navbar .icon-bar + .icon-bar {
    margin-top: 3px;
}

.navbar .btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: rgb(128, 128, 128);
    border-radius: 1px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.navbar .hidden-desktop { display:none; }
.brand a { text-decoration: none; color: #333; }

@media screen and (max-width: 480px) {
.hidden-desktop { display:inherit!important;}
.navbar .btn-navbar {
    display: block;
}
#wikiMenu.collapse { overflow: hidden; height: 0px; }

.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 3px;
    background-color: rgb(250, 250, 250);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
    background-repeat: repeat-x;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-top .navbar-inner {
    border-width: 0px 0px 1px;
    border-radius: 0px;
}
}
